{% extends 'form_base.html' %}
{% load cadenas %}
{% load staticfiles %}
{% block css %}
    <!-- select 2  -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <!-- date range picker -->
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <!-- jasny bootstrap -->
    <link href="{% static 'vendors/jasny-bootstrap/css/jasny-bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- form input mask -->
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Carga de Gastos</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>

          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
          <form id="form" class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">{% csrf_token %}
            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Fecha</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.fecha }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.fecha.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.fecha.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">Motivo</label>
                  <div class="col-md-7 col-sm-7 col-xs-7">
                      {{ form.motivo }}
                    <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                      <!-- Mensaje de error del input -->
                      {% if form.motivo.errors %}
                          <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                             {{ form.motivo.errors|striptags }}
                          </div>
                      {% endif %}
                      <!-- Mensaje de error del input -->
                  </div>
                   <!-- boton agregar una opción nueva -->
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <button onclick="abrirLista()" data-toggle="tooltip" title="Ver lista de gastos, que son requeridos. Son listas de motivos para ser seleccionados." type="button" class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                  <!-- boton agregar una opción nueva -->
                </div>
              <!-- Input del formulario -->

              <!-- Input del formulario -->
                 <div class="form-group">
                   <label class="control-label col-md-3 col-sm-3 col-xs-3">Monto</label>
                   <div class="col-md-9 col-sm-9 col-xs-9">
                       {{ form.monto }}
                     <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                       <!-- Mensaje de error del input -->
                       {% if form.monto.errors %}
                           <div class="alert alert-danger" role="alert">
                             <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                             <span class="sr-only">Error:</span>
                              {{ form.monto.errors|striptags }}
                           </div>
                       {% endif %}
                       <!-- Mensaje de error del input -->
                   </div>
                 </div>
              <!-- Input del formulario -->

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <a href="/gastos/alta/" type="button" class="btn btn-primary">Cancelar</a>
                    <button id="id_guardar" type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
          </form>
      </div>
    </div>
  </div>

<!-- listado de gastos -->

        <div class="clearfix"></div>
         <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Lista de Gastos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Fecha</th>
                          <th>Motivo</th>
                          <th>Monto</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for gasto in gastos.object_list %}
                         <tr>
                           <th scope="row">{{ gasto.id }}</th>
                           <td>{{ gasto.fecha }}</td>
                           <td>{{ gasto.motivo }}</td>
                           <td>{{ gasto.monto }}</td>
                            <td>
                              <a href="/gastos/editar/{{ gasto.pk }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Editar </a>
                              <a href="/gastos/eliminar/{{ gasto.pk }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Eliminar </a>
                            </td>
                         </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <nav aria-label="...">
                      <ul class="pager">
                        {% if gastos.has_previous %}
                          <li class="previous"><a href="/gastos/alta/?page={{ gastos.previous_page_number }}"><span aria-hidden="true">&larr;</span> Átras</a></li>
                        {% endif %}
                        {% if gastos.has_next %}
                          <li class="next"><a href="/gastos/alta/?page={{ gastos.next_page_number }}" >Siguiente <span aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
<!-- listado de gastos -->

<!-- Small modal motivos de gastos -->
  <div id="id_motivo_lista" class="modal fade id_motivo_lista" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel2">Motivos de Gastos</h4><br>
                  <div class="alert alert-info">
                    <strong>Información</strong> Seleccione un motivo de gasto. Estos motivos indican las obligaciones por mes, cambiarán de color 
                    a medida que se van pagando. 
                  </div>
                 
                   <ul class="list-group">
                      {% for motivo_sucursal in motivos %}
                        <li style="background-color:#{{ motivo_sucursal|dividirClase }};" class="list-group-item"><a onclick="seleccionMotivo('{{ motivo_sucursal|dividirMotivoEnviar }}')"> {{ motivo_sucursal|dividirMotivo }}</a></li>
                      {% endfor %}
                    </ul>
              </div>
              <div class="modal-footer">
                 
              </div>
          </div>
      </div>
  </div>
<!-- /modals -->

{% endblock %}

{% block js %}
    <!-- select 2 -->
    <script src="{% static 'vendors/select2/dist/js/select2.min.js' %}"></script>
    <!-- date range picker -->
    <script src="{% static 'vendors/moment/moment.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- jquery.inputmask -->
    <script src="{% static 'vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>

    <script>
      // Abro la lista de motivos de gatos 
      var abrirLista = function(){
        $('#id_motivo_lista').modal('show'); 
      };
      // se selecciona un motivo y carga en la caja de texto
      var seleccionMotivo = function(seleccion){
        $('#id_motivo').val(seleccion); // cargo en el intput
        $('#id_motivo_lista').modal('hide'); // cierro el modal
      }

       // date range picker
        $('#id_fecha').daterangepicker({
            singleDatePicker: true,
            locale: {
                   "format": "DD/MM/YYYY",
                   "separator": " - ",
                   "applyLabel": "Aplicar",
                   "cancelLabel": "Cancelar",
                   "fromLabel": "From",
                   "toLabel": "a",
                   "customRangeLabel": "Custom",
                   "daysOfWeek": [
                       "Do",
                       "Lu",
                       "Ma",
                       "Mi",
                       "Ju",
                       "Vi",
                       "Sa"
                   ],
                   "monthNames": [
                       "Enero",
                       "Febrero",
                       "Marzo",
                       "Abril",
                       "Mayo",
                       "Junio",
                       "Julio",
                       "Agosto",
                       "Septiembre",
                       "Octubre",
                       "Noviembre",
                       "Diciembre"
                   ]
            }
        });
    // input mask
    $('#id_fecha').inputmask({"mask": "99/99/9999"});
    </script>
{% endblock %}
