{% extends 'form_base.html' %}
{% load staticfiles %}
{% block css %}

{% endblock %}

{% block content %}
<form method="post"> {% csrf_token %}
    <div class="col-sm-6">
        <h4 class="brief"><i>Eliminar {{ object.tipo }}</i></h4>
        <div class="left col-xs-7">
            <ul class="list-unstyled">
                <li>{{ object.descripcion }}</li>
            </ul>
        </div>
        <div class="right col-xs-5 text-center">
            <img src="/media/logos_sistema/trash.png" width="104" height="104" alt="" class="img-circle img-responsive">
        </div>
    </div>
    <div class="col-xs-12 bottom text-center">
        <div class="col-xs-12 col-sm-6 emphasis">
            <a  href="/proveedores/contactos/editar/{{ object.pk }}/{{ object.proveedor.pk }}" type="button" class="btn btn-info">Cancelar</a>
            <button type="submit" class="btn btn-danger">Confirmar</button>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
        <div class="well profile_view">
        </div>
    </div>
</form>
{% endblock %}

{% block js %}

{% endblock %}
