{% extends 'form_base.html' %}
{% load staticfiles %}
{% block css %}

{% endblock %}

{% block content %}
    <!-- form input mask -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Caja {% now "d/m/Y" %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>

              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="form" class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">{% csrf_token %}

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Caja Inicial</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.caja_inicial }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.caja_inicial.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.caja_inicial.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Caja Actual</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.caja_actual }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.caja_actual.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.caja_actual.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Compras</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.compras }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.compras.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.compras.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Ventas Efectivo</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.ventas_efectivo }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.ventas_efectivo.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.ventas_efectivo.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Ventas Débito</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.ventas_debito }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.ventas_debito.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.ventas_debito.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Ventas Crédito</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.ventas_credito }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.ventas_credito.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.ventas_credito.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Ventas sin Ganancia</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.venta_sin_ganancia }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.venta_sin_ganancia.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.venta_sin_ganancia.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Otros Ingresos</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.otros_ingresos }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.otros_ingresos.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.otros_ingresos.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Otros Gastos</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.otros_gastos }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.otros_gastos.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.otros_gastos.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

              <div class="ln_solid"></div>

              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button id="id_guardar" type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
{% endblock %}

{% block js %}
{% endblock %}
