{% extends 'reporte_base.html' %}
{% load staticfiles %}
{% block css %}
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Cajas<small>Por fechas</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>

          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="table-responsive">
          <table class="table" id="tbl">
            <thead>
              <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Caja Inicial</th>
                <th>Caja Actual</th>
                <th>Compras</th>
                <th>V. Efectivo</th>
                <th>V. Débito</th>
                <th>V. Crédito</th>
                <th>Otros Ingresos</th>
                <th>Otros Gastos</th>
                <th>Sucursal</th>
              </tr>
            </thead>
            <tbody>
              {% for caja in object_list %}
                  <tr>
                    <th scope="row">{{ caja.id }}</th>
                    <th>{{ caja.fecha }}</th>
                    <td>${{ caja.caja_inicial|default_if_none:'-' }}</td>
                    <td>${{ caja.caja_actual|default_if_none:'-' }}</td>
                    <td>${{ caja.compras|default_if_none:'-' }}</td>
                    <td>${{ caja.ventas_efectivo|default_if_none:'-' }}</td>
                    <td>${{ caja.ventas_debito|default_if_none:'-' }}</td>
                    <td>${{ caja.ventas_credito|default_if_none:'-' }}</td>
                    <td>${{ caja.otros_ingresos|default_if_none:'-' }}</td>
                    <td>${{ caja.otros_gastos|default_if_none:'-' }}</td>
                    <td>{{ caja.sucursal|default_if_none:'-' }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>   

      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Totales</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table" id="tbl">
                <thead>
                  <tr>
                    <th>Efectivo</th>
                    <th>Gastos y compras</th>
                  
                  </tr>
                </thead>
                <tbody>
                      <tr>
                        <td><input id="id_total_efectivo" class="form-control" disabled="disabled"></td>
                        <td><input id="id_total_gastos" class="form-control" disabled="disabled"></td>
                      
                      </tr>
                </tbody>
              </table>
              <table class="table" id="tbl">
                  <thead>
                    <tr>
                      <th>Crédito</th>
                      <th>Débito</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                        <tr>
                          <td><input id="id_total_credito" class="form-control" disabled="disabled"></td>
                          <td><input id="id_total_debito" class="form-control" disabled="disabled"></td>
                        
                        </tr>
                  </tbody>
                </table>
                  
              
            </div>
          </div>
      </div>


        <div class="form-group">
           <div class="col-md-9 col-md-offset-3">
               <a href="/" type="button" class="btn btn-primary">Cancelar</a>
               <button type="button" class="btn btn-success" onclick="generatefromtable()">Imprimir</button>
           </div>
         </div>
      </div>
    </div>
</div>



{% endblock %}

{% block js %}
    <!-- bootstrap-daterangepicker -->
      <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
      <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
      <script src="{% static 'pdf-generate/jspdf.js' %}"></script>
      <script src="{% static 'pdf-generate/FileSaver.js' %}"></script>
      <script src="{% static 'pdf-generate/jspdf.plugin.table.js' %}"></script>
      <script>
        /* ------------------------------------------- */
        /*    script para calcular los totales         */
        /* ------------------------------------------- */
         var venta_acumulada = 0.0
         var credito_acumulado = 0.0
         var debito_acumulada = 0.0

         var otros_gastos_acumulados = 0.0
         var compras_acumulados = 0.0

         var haber = 0.0
         var debe = 0.0

         {% for caja in object_list %}
            {% if caja.ventas_efectivo %}
              venta_acumulada += parseFloat(('{{ caja.ventas_efectivo }}').replace(',','.'))
            {% endif %}
            {% if caja.ventas_debito %}
              debito_acumulada += parseFloat(('{{ caja.ventas_debito }}').replace(',','.'))
            {% endif %}
            {% if caja.ventas_credito %}
              credito_acumulado += parseFloat(('{{ caja.ventas_credito }}').replace(',','.'))
            {% endif %}
            {% if caja.otros_gastos %}
              otros_gastos_acumulados += parseFloat(('{{ caja.otros_gastos }}').replace(',','.'))
            {% endif %}
            {% if caja.compras %}
              compras_acumulados += parseFloat(('{{ caja.compras }}').replace(',','.'))
            {% endif %}
         {% endfor %}
         haber = parseFloat(venta_acumulada + debito_acumulada + credito_acumulado)
         debe = otros_gastos_acumulados + compras_acumulados
         $('#id_total_efectivo').val('$ ' + venta_acumulada)
         $('#id_total_gastos').val('$ ' + debe)
         $('#id_total_credito').val('$ ' + credito_acumulado)
         $('#id_total_debito').val('$ ' + debito_acumulada)
         /* ------------------------------------------- */
        /*    script para calcular los totales         */
        /* ------------------------------------------- */
          function generatefromtable() {
              var data = [], fontSize = 12, height = 0, doc;
              doc = new jsPDF('p', 'pt', 'a4', true);
              doc.setFont("times", "normal");
              doc.setFontSize(fontSize);
              doc.text(20, 20, "Caja por fecha");
              data = [];
              data = doc.tableToJson('tbl');
              height = doc.drawTable(data, {
                  xstart : 10,
                  ystart : 10,
                  tablestart : 40,
                  marginleft : 10,
                  xOffset : 10,
                  yOffset : 15
              });
              doc.save("caja_por_fecha.pdf");
          }
      </script>
        <script>
            $('#id_texto_buscar').daterangepicker({
                       locale: {
                              "format": "DD/MM/YYYY",
                              "separator": " - ",
                              "applyLabel": "Aplicar",
                              "cancelLabel": "Cancelar",
                              "fromLabel": "From",
                              "toLabel": "a",
                              "customRangeLabel": "Custom",
                              "daysOfWeek": [
                                  "Do",
                                  "Lu",
                                  "Ma",
                                  "Mi",
                                  "Ju",
                                  "Vi",
                                  "Sa"
                              ],
                              "monthNames": [
                                  "Enero",
                                  "Febrero",
                                  "Marzo",
                                  "Abril",
                                  "Mayo",
                                  "Junio",
                                  "Julio",
                                  "Agosto",
                                  "Septiembre",
                                  "Octubre",
                                  "Noviembre",
                                  "Diciembre"
                              ]
                       }
                });
        </script>
{% endblock %}
