{% extends 'form_base.html' %}
{% load staticfiles %}
{% block css %}

{% endblock %}

{% block content %}
    <!-- form input mask -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Caja {% now "d/m/Y" %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>

              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="form" class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">{% csrf_token %}

            {{ form.as_p }}

              <div class="ln_solid"></div>

              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button id="id_guardar" type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
{% endblock %}

{% block js %}
<script>
    $('#id_username').addClass('form-control');
    $('#id_password1').addClass('form-control');
    $('#id_password2').addClass('form-control');
</script>
{% endblock %}
