{% extends 'form_base.html' %}
{% load staticfiles %}
{% block css %}
    <!-- select 2  -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <!-- date range picker -->
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <!-- jasny bootstrap -->
    <link href="{% static 'vendors/jasny-bootstrap/css/jasny-bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- form input mask -->
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Carga de Clientes</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>

          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
         {% if form.instance.pk == None %}
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Información:</span>
                  Recuerde que primero debe ingresar el nombre y la dirección, luego se habilitará la siguiente pestaña para guardar los demás datos. Como teléfono, E-mail, etc.
            </div>
         {% endif %}
      </div>
      <div class="x_content">
        <br />
          <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" class="active"><a href="#tab_content1" id="home-tab"  aria-expanded="true">Datos Personales</a>
              </li>
              {% if form.instance.pk %}
                  <li role="presentation" class=""><a href="/clientes/contactos/alta/{{ form.instance.pk }}" aria-expanded="true">Contacto</a>
                  </li>
              {% endif %}
            </ul>
            <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                            <h2>Carga de Clientes</h2>
                          <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <br />

                            <form id="form" class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">{% csrf_token %}


                            <!-- Input del formulario -->
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-3">Código de barras</label>
                              <div class="col-md-9 col-sm-9 col-xs-9">
                                  {{ form.codigo_barras }}
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                  <!-- Mensaje de error del input -->
                                  {% if form.codigo_barras.errors %}
                                      <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                         {{ form.codigo_barras.errors|striptags }}
                                      </div>
                                  {% endif %}
                                  <!-- Mensaje de error del input -->
                              </div>
                            </div>
                          <!-- Input del formulario -->

                            <!-- Input del formulario -->
                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Nombre</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    {{ form.nombre }}
                                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    <!-- Mensaje de error del input -->
                                    {% if form.nombre.errors %}
                                        <div class="alert alert-danger" role="alert">
                                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                          <span class="sr-only">Error:</span>
                                           {{ form.nombre.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <!-- Mensaje de error del input -->
                                </div>
                              </div>
                            <!-- Input del formulario -->

                            <!-- Input del formulario -->
                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Apellido</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    {{ form.apellido }}
                                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    <!-- Mensaje de error del input -->
                                    {% if form.apellido.errors %}
                                        <div class="alert alert-danger" role="alert">
                                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                          <span class="sr-only">Error:</span>
                                           {{ form.apellido.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <!-- Mensaje de error del input -->
                                </div>
                              </div>
                            <!-- Input del formulario -->

                            <!-- Input del formulario -->
                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Documento</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    {{ form.numero_documento }}
                                    <span class="fa fa-clock-o form-control-feedback right" aria-hidden="true"></span>
                                    <!-- Mensaje de error del input -->
                                    {% if form.numero_documento.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            {{ form.numero_documento.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <!-- Mensaje de error del input -->
                                </div>
                            </div>
                          <!-- Input del formulario -->

                        <!-- Input del formulario -->
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                {{ form.email }}
                              <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                <!-- Mensaje de error del input -->
                                {% if form.email.errors %}
                                    <div class="alert alert-danger" role="alert">
                                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                      <span class="sr-only">Error:</span>
                                       {{ form.email.errors|striptags }}
                                    </div>
                                {% endif %}
                                <!-- Mensaje de error del input -->
                            </div>
                          </div>
                        <!-- Input del formulario -->

                            <!-- Input del formulario -->
                              <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Dirección</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    {{ form.direccion }}
                                    <!-- Mensaje de error del input -->
                                    {% if form.direccion.errors %}
                                        <div class="alert alert-danger" role="alert">
                                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                          <span class="sr-only">Error:</span>
                                           {{ form.direccion.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <!-- Mensaje de error del input -->
                                </div>
                              </div>
                            <!-- Input del formulario -->

                             <!-- Input del formulario -->
                          <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-3">Puntos</label>
                              <div class="col-md-9 col-sm-9 col-xs-9">
                                  {{ form.puntos }}
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                  <!-- Mensaje de error del input -->
                                  {% if form.puntos.errors %}
                                      <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                         {{ form.puntos.errors|striptags }}
                                      </div>
                                  {% endif %}
                                  <!-- Mensaje de error del input -->
                              </div>
                            </div>
                          <!-- Input del formulario -->

                          <!-- Input del formulario -->
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Crédito</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                {{ form.credito }}
                              <span class="fa fa-usd form-control-feedback right" aria-hidden="true"></span>
                                <!-- Mensaje de error del input -->
                                {% if form.credito.errors %}
                                    <div class="alert alert-danger" role="alert">
                                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                      <span class="sr-only">Error:</span>
                                       {{ form.credito.errors|striptags }}
                                    </div>
                                {% endif %}
                                <!-- Mensaje de error del input -->
                            </div>
                          </div>
                        <!-- Input del formulario -->

                            <!-- Input del formulario -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-3">Fecha Nacimiento</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        {{ form.fecha_nacimiento }}
                                        <span class="fa fa-clock-o form-control-feedback right" aria-hidden="true"></span>
                                        <!-- Mensaje de error del input -->
                                        {% if form.fecha_nacimiento.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form.fecha_nacimiento.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <!-- Mensaje de error del input -->
                                    </div>
                                </div>
                              <!-- Input del formulario -->

                              <div class="ln_solid"></div>

                              <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <a href="/clientes/listado/" type="button" class="btn btn-primary">Cancelar</a>
                                    <button id="id_guardar" type="submit" class="btn btn-success">Guardar</button>
                                </div>
                              </div>

                            </form>

                         </div>
                       </div>
                  </div>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
    <!-- select 2 -->
    <script src="{% static 'vendors/select2/dist/js/select2.min.js' %}"></script>
    <!-- date range picker -->
    <script src="{% static 'vendors/moment/moment.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- jquery.inputmask -->
    <script src="{% static 'vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>

    <script>
        $('#id_fecha_nacimiento').daterangepicker({
          singleDatePicker: true,
          locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "From",
                "toLabel": "a",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ]
          }
      });
  // input mask
  $('#id_fecha_nacimiento').inputmask({"mask": "99/99/9999"});
    </script>
{% endblock %}
