{% extends 'form_base.html' %}
{% load staticfiles %}
{% block css %}

{% endblock %}

{% block content %}
    <!-- form input mask -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Cargar pago de cuota {% now "d/m/Y" %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>

              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="form" class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">{% csrf_token %}

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Monto</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.precio }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.precio.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.precio.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

            <!-- Input del formulario -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">Mes</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    {{ form.mes }}
                  <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                    <!-- Mensaje de error del input -->
                    {% if form.mes.errors %}
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                           {{ form.mes.errors|striptags }}
                        </div>
                    {% endif %}
                    <!-- Mensaje de error del input -->
                </div>
              </div>
            <!-- Input del formulario -->

              <div class="ln_solid"></div>

              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button id="id_guardar" type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Lista de pagos realizados </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>

              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <!-- aca la tabla -->
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Mes</th>
                    <th>Monto</th>
                    <th>Año</th>
                    <th>Fecha que abono</th>
                  </tr>
                </thead>

                <tbody>
                {% for cuota in cuotas %}
                  <tr>
                    <td>{{ cuota.mes }}</td>
                    <td>{{ cuota.precio }}</td>
                    <td>{{ cuota.fecha|date:'Y' }}</td>
                    <td>{{ cuota.fecha }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
{% endblock %}

{% block js %}
{% endblock %}
