{% extends 'form_base.html' %}
{% load staticfiles %}
{% block css %}
    <!-- select 2  -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <!-- date range picker -->
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <!-- jasny bootstrap -->
    <link href="{% static 'vendors/jasny-bootstrap/css/jasny-bootstrap.min.css' %}" rel="stylesheet">
    <!-- Para checkear las tarjetas de credito -->
    <link href="{% static 'apps/ventas/payment.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- vue js libreria externa -->
    <div id="app">
            <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                <h1 id="datos_socio">${ datos_socio }</h1>
                <input id="id_socio" hidden="hidden">
                </div>
            </div>

           <!-- Small modal Socios -->
           <div class="modal fade id_socios_form" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Buscar Socios</h4>

                            <form method="get">
                            <div class="title_right">
                              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                  <input @keypress="buscar_socio" type="text" v-model="descripcion" name="texto_buscar" class="form-control" placeholder="Buscar por...">
                                </div>
                              </div>
                            </div>
                            </form>
                            <div class="x_content">
                               <div class="row">
                                 <div class="col-sm-12">
                                   <div class="card-box table-responsive">
                                     <table id="datatable-keytable" class="table table-striped table-bordered">
                                       <thead>
                                         <tr>
                                           <th>Código</th>
                                           <th>Nombre</th>
                                           <th>Apellido</th>
                                           <th>Documento</th>
                                           <th>Puntos</th>
                                         </tr>
                                       </thead>
                                       <tbody>
                                            <tr v-for="socio in socios">
                                                    <td @click="envioSocio(socio)">${ socio.id }
                                                    </td>

                                                    <td @click="envioSocio(socio)">${ socio.nombre }
                                                    </td>

                                                    <td @click="envioSocio(socio)">${ socio.apellido }</td>
                                                    <td @click="envioSocio(socio)">${ socio.numero_documento }
                                                    </td>

                                                    <td @click="envioSocio(socio)">${ socio.puntos }
                                                        </td>

                                                  </tr>

                                       </tbody>
                                     </table>
                                     <ul class="pager">
                                            <li v-if="pag_previo_socio"><a v-on:click="previo_socio">Previo</a></li>
                                            <li v-if="pag_siguiente_socio"><a v-on:click="siguiente_socio">Siguiente</a></li>
                                          </ul>
                                   </div>
                                 </div>
                               </div>
                             </div>
                            </div>
                    </div>
                </div>
            </div>
        <!-- modals -->

            <!-- Small modal Articulos -->
               <div class="modal fade id_articulos_form" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog modal-lg" id="app">
                       <div class="modal-content">
                           <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                               </button>
                               <h4 class="modal-title" id="myModalLabel2">${ titulo }</h4>

                               <form method="get">
                               <div class="title_right">
                                 <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                   <div class="input-group">
                                     <input @keypress="buscar" type="text" v-model="descripcion" name="texto_buscar" class="form-control" placeholder="Buscar por...">
                                   </div>
                                 </div>
                               </div>
                               </form>
                               <div class="x_content">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="card-box table-responsive">
                                        <table id="datatable-keytable" class="table table-striped table-bordered">
                                          <thead>
                                            <tr>
                                              <th>Código</th>
                                              <th>Nombre</th>
                                              <th>marca</th>
                                              <th>Rubro</th>
                                              <th>Venta</th>
                                              <th>Stock</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                                <tr v-for="articulo in articulos">
                                                  <td v-on:click="envioDatos(articulo)">${ articulo.codigo_barra }
                                                  </td>

                                                  <td v-on:click="envioDatos(articulo)">${ articulo.nombre }
                                                  </td>
                                                  <template v-if="articulo.marca">
                                                    <td v-on:click="envioDatos(articulo)">${ articulo.marca.descripcion }
                                                    </td>
                                                  </template>
                                                  <template v-else>
                                                        <td>--</td>
                                                  </template>
                                                  <template v-if="articulo.rubro">
                                                    <td v-on:click="envioDatos(articulo)">${ articulo.rubro.descripcion }
                                                    </td>
                                                  </template>
                                                  <template v-else>
                                                        <td>--</td>
                                                  </template>
                                                  <td v-on:click="envioDatos(articulo)">${ '$ ' + articulo.precio_venta }
                                                  </td>
                                                  <td v-on:click="envioDatos(articulo)">${ articulo.stock }
                                                  </td>
                                                </tr>

                                          </tbody>
                                        </table>
                                            <ul class="pager">
                                              <li v-if="pag_previo"><a v-on:click="previo">Previo</a></li>
                                              <li v-if="pag_siguiente"><a v-on:click="siguiente">Siguiente</a></li>
                                            </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                               </div>
                       </div>
                   </div>
               </div>
           <!-- modals -->
            </div>
         <!-- libreria externa vue js -->
   <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
   {% csrf_token %}
   <!-- Tipos de Pagos -->
      <div class="col-md-12 col-sm-12 col-xs-12">
           <div class="x_panel">

                   <div class="col-md-12 col-sm-12">
                      <div class="container">
                          <div class="paymentWrap">
                              <div title="Pagar con Crédito" class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">

                                  <label class="btn paymentMethod" id="id_credito"  onclick="calcular_tipo_pago('credito')">
                                      <div class="method visa"></div>
                                      <input type="radio" name="options">
                                  </label>
                                  <label title="Pagar con Débito" class="btn paymentMethod" id="id_debito" onclick="calcular_tipo_pago('debito')">
                                      <div class="method master-card"></div>
                                      <input type="radio" name="options">
                                  </label>
                                  <label title="Pagar con Efectivo" class="btn paymentMethod " id="id_efectivo" onclick="calcular_tipo_pago('efectivo')">
                                      <div class="method amex"></div>
                                      <input type="radio" name="options">
                                  </label>
                                  <label title="Pagar con Descuento" class="btn paymentMethod " id="id_descuento" onclick="calcular_tipo_pago('descuento')">
                                      <div class="method desc"></div>
                                      <input type="radio" name="options">
                                  </label>

                              </div>
                          </div>
                      </div>
               </div>
           </div>
       </div>
   <!-- Tipos de Pagos -->
   <!-- form input mask -->
   <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <!--<div class="x_title">
                <h2><i class="fa fa-bars"></i> Ventas <small>Realizar una Venta</small></h2>
                <div class="clearfix"></div>
            </div>-->
            <div class="x_content">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Fecha <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form.fecha }}
                            </div>
                        </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Buscar árticulo por código
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-inline">
                                        <input type="text" id="id_codigo_articulo_buscar" name="codigo_articulo_buscar"  class="form-control">
                                        <button type="button" id="id_button_buscar" data-toggle="modal" data-target=".id_articulos_form" class="btn btn-default btn-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                                </div>
                            </div>

                            <!-- carga de socio -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Socio
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-inline">
                                    <button type="button" id="buscar_socio" data-toggle="modal" data-target=".id_socios_form" class="btn btn-default btn-sm">Click para buscar socio <i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                                </div>
                            </div>
                            <!-- carga de socio -->

                            <!-- Cantidad de puntos de socios -->
                            <div id="id_div_puntos_socios" >
                                <div  class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Canjea Puntos
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-inline">
                                            <input class="form-control" type="checkbox" name="canje_socios" id="id_canje_socios">
                                        </div>
                                    </div>
                                </div>
                                <div id="id_form_canjear">
                                    <div  class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Ingrese los puntos
                                        </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="form-inline">
                                                <input class="form-control" type="number" name="puntos_socios" id="id_puntos_socios">
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Ingrese el descuento %
                                        </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="form-inline">
                                                <input class="form-control" type="number" name="descuento_socios" id="id_descuento_socios">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Cantidad de puntos de socios -->

                            <!-- No sumar a Caja -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">No sumar a caja
                                </label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-inline">
                                        <input class="form-control" type="checkbox" name="no_sumar" id="id_no_sumar">
                                    </div>
                                </div>
                            </div>
                            <!-- No sumar a Caja -->

                        </div>
                        <!-- campo de descuento -->
                          <div class="form-group">
                              <div id="id_div_descuento">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese el descuento</label>
                                  <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-inline">
                                      <input type="number" id="id_monto_descuento" class="form-control" placeholder="Descuento de ..." value="0">
                                      <br>
                                    </div>
                                  </div>
                              </div>
                          </div>
                        <!-- campo de descuento -->

                        <br>
                        <div class="clearfix"></div>
                        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3">
                            <a class="btn btn-primary" href="/ventas/alta/" type="reset">Cancelar</a>
                            <button type="button"  id="id_button_guardar_compra" onclick="guardar_compra()" class="btn btn-success">Guardar</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

       <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <!--<div class="x_title">
                <h2>Árticulos <small>lista de árticulos a vender</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>-->
              <div class="x_content">

                <table class="table table-striped header-fixed" id="id_tabla_articulos">
                  <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Nombre</th>
                      <th>Precio Unitario</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    </tr>
                  </tbody>
                </table>
                 <div class="">
                      <h1 id="id_total">$ 0.00</h1>
                      <br>
                 </div>
                 <!--<div id="id_div_pago">
                      <input type="number" id="id_pago" placeholder="Abonó con ?" class="price" value="0">
                      <br>
                 </div> -->

                 <div id="id_div_pago">
                      <input type="number" id="id_pago" placeholder="Abonó con ?" class="price" value="0">
                      <br>
                 </div>
                 <div id="id_div_vuelto">
                      <h1 id="id_vuelto">$ 0.00</h1>
                      <br>
                 </div>
                 <div id="id_div_porcentaje">
                      <input type="number" id="id_porcentaje" placeholder="Porcentaje de aumento" class="price" value="0">
                      <br>
                 </div>
                 <div id="id_div_credito_total">
                      <h1 id="id_credito_total">$ 0.00</h1>
                      <br>
                 </div>
              </div>
            </div>
          </div>
       </form>


{% endblock %}

{% block js %}
    <script type="application/javascript" src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- Custom js para este archivo -->
    <script type="application/javascript" src="{% static 'apps/ventas/js/inicio.js' %}"></script>
    <script type="application/javascript" src="{% static 'apps/ventas/js/operaciones.js' %}"></script>
    <!-- sweet alert -->
    <script type="application/javascript" src="{% static 'sweetalert/sweetalert.min.js' %}"></script>
    <!-- vuejs -->
    <script src="{% static 'vuejs/vue.js' %}"></script>
    <!-- axios -->
    <script src="{% static 'axios/axios.js' %}"></script>
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                titulo: 'Buscar Árticulos',
                articulos: [],
                socios: [],
                pag_siguiente: '',
                pag_previo: '',
                pag_siguiente_socio: '',
                pag_previo_socio: '',
                descripcion: '',
                datos_socio: '',
                id_socio: ''
            },

            methods: {
                cargarDatos: function(){
                    var self = this;
                    axios.get('/articulos/api/articulos/')
                      .then(function (response) {
                          self.articulos = response.data.results;
                          self.pag_siguiente = response.data.next;
                          self.pag_previo = response.data.previous;
                    })
                      .catch(function (error) {
                          console.log(error);
                    });
                },
                cargarSocios: function(){
                    var self = this;
                    axios.get('/clientes/api/paginado/')
                      .then(function (response) {
                        self.socios = response.data.results;
                        self.pag_siguiente_socio = response.data.next;
                        self.pag_previo_socio = response.data.previous;
                    })
                      .catch(function (error) {
                          console.log(error);
                    });
                },
                envioSocio: function(socio){
                        $('#id_socio').val(socio.id)
                        var self = this;
                        self.datos_socio = socio.nombre + ' ' + socio.apellido + ' - ' + socio.numero_documento
                        self.id_socio = socio.id
                        swal({
                            title: self.datos_socio,
                            text: "El socio fue seleccionado, sus puntos serán cargados de esta venta",
                            icon: "success",
                            button: "Aceptar",
                          });
                        habilitar_campos_canje(socio);

                },
                envioDatos: function(articulo){
                    var marca_descripcion = ''
                    var rubro_descripcion = ''
                    if (articulo.marca){
                        marca_descripcion = articulo.marca.descripcion
                    }
                    if (articulo.rubro){
                        rubro_descripcion = articulo.rubro.descripcion
                    }
                    seleccion_articulo(
                            articulo.id, articulo.nombre,
                            marca_descripcion,
                            rubro_descripcion,
                            articulo.precio_venta,
                            articulo.precio_credito,
                            articulo.precio_debito,
                            articulo.precio_compra,
                            articulo.stock,
                            '0',
                            articulo.no_suma_caja
                    );
                },
                previo: function(){
                    var self = this;
                    axios.get(self.pag_previo)
                     .then(function (response) {
                         self.articulos = response.data.results;
                         self.pag_siguiente = response.data.next;
                         self.pag_previo = response.data.previous;
                    })
                     .catch(function (error) {
                         console.log(error);
                    });
                },
                siguiente: function(){
                    var self = this;
                    axios.get(self.pag_siguiente)
                     .then(function (response) {
                         self.articulos = response.data.results;
                         self.pag_siguiente = response.data.next;
                         self.pag_previo = response.data.previous;
                    })
                     .catch(function (error) {
                         console.log(error);
                    });
                },
                previo_socio: function(){
                    var self = this;
                    axios.get(self.pag_previo_socio)
                     .then(function (response) {
                         self.socios = response.data.results;
                         self.pag_siguiente_socio = response.data.next;
                         self.pag_previo_socio = response.data.previous;
                    })
                     .catch(function (error) {
                         console.log(error);
                    });
                },
                siguiente_socio: function(){
                    var self = this;
                    axios.get(self.pag_siguiente_socio)
                     .then(function (response) {
                         self.socios = response.data.results;
                         self.pag_siguiente_socio = response.data.next;
                         self.pag_previo_socio = response.data.previous;
                    })
                     .catch(function (error) {
                         console.log(error);
                    });
                },
                buscar: function(){
                    var self = this;
                    axios.get('/articulos/api/articulos/?descripcion=' + this.descripcion)
                     .then(function (response) {
                         self.articulos = response.data.results;
                         self.pag_siguiente = response.data.next;
                         self.pag_previo = response.data.previous;
                    })
                     .catch(function (error) {
                         console.log(error);
                    });
                },
                buscar_socio: function(){
                    var self = this;
                    axios.get('/clientes/api/paginado/?descripcion=' + this.descripcion)
                     .then(function (response) {
                        self.socios = response.data.results;
                        self.pag_siguiente_socio = response.data.next;
                        self.pag_previo_socio = response.data.previous;
                    })
                     .catch(function (error) {
                         console.log(error);
                    });
                }
            },
            mounted: function(){
                this.cargarDatos();
                this.cargarSocios();
            }
        });
    </script>

{% endblock %}
