{% extends 'list_base.html' %}
{% load staticfiles %}
{% load calculos_tags %}

{% block css %}
   <!-- zoom css -->
   <link href="{% static 'zoom.js-master/css/zoom.css' %}" rel="stylesheet">
{% endblock %}
{% block form_search %}
<div class="x_content">
                
    <div class="x_panel">
            <h2>Buscar árticulos</h2>
        <form method="get">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="input-group">
                    <input type="text" name="texto_buscar" class="form-control" placeholder="Buscar por...">
                    <span class="input-group-btn">
                        <input class="btn btn-default" value="Aceptar" type="submit">
                    </span>
                    </div>
                </div>
        </form>
    </div>
  </div>
{% endblock %}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Lista de Árticulos <small>Lista de árticulos cargados en el sistema</small></h2>
        <ul class="navbar-right">
          <a href="/articulos/alta/" class="btn btn-primary"> Nuevo Árticulo </a>
          
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
          <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                            <th>Imagen </th>  
                            <th>Nombre</th>
                            <th>Efectivo </th>
                            <th>Crédito</th>
                            <th>Marca</th>
                            <th>Categoría</th>
                            <th>SubCategoría </th>
                            <th>Stock</th>
                            <th>Acciones </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for articulo in object_list %}
                        <tr>
                            <td>
                                {% if articulo.imagen %}
                                    <img src="/media/{{ articulo.imagen }}" data-action="zoom" width="52" height="52" />
                                {% else %}
                                    <img src="/media/logos_sistema/no-imagen.jpg" data-action="zoom" width="42" height="42" />
                                {% endif %}    
                            </td>
                           
                            <td>
                                {{ articulo.nombre }}
                            </td>
                            <td>
                                $ {{ articulo.precio_venta }}
                            </td>
                            
                            <td>
                                $ {{ articulo.precio_venta|incremento_porcentaje:articulo.alicuota_iva }}
                            </td>
                            
                            <td>
                                {{ articulo.marca|quitar_none }}
                            </td>
                            <td>
                                {{ articulo.rubro.categoria|quitar_none }}
                            </td>
                            <td>
                                {{ articulo.rubro.descripcion|quitar_none }}
                            </td>
                            
                            <td>
                                {{ articulo.stock }}
                            </td>
                            <td>
                                <a href="/articulos/detalle/{{ articulo.pk }}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> </a>
                                <a href="/articulos/editar/{{ articulo.pk }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                                <a href="/articulos/eliminar/{{ articulo.pk }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> </a>
                            </td>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
          </div>
           <!-- paginacion -->
            {% if is_paginated %}
                <nav>
                  <ul class="pager">
                    {% if page_obj.has_previous %}
                        <li><a href="/articulos/listado?page={{ page_obj.previous_page_number }}">Atrás</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="/articulos/listado?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                    {% endif %}
                  </ul>
                </nav>
            {% endif %}
            <!-- paginacion -->
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
 <!-- zoom js -->
 <script src="{% static 'zoom.js-master/js/zoom.js' %}"></script>
{% endblock %}
