{% extends 'list_base.html' %}
{% load staticfiles %}
{% load calculos_tags %}

{% block css %}
   <!-- zoom css -->
   <link href="{% static 'zoom.js-master/css/zoom.css' %}" rel="stylesheet">
{% endblock %}
{% block form_search %}
<div class="x_content">

    <div class="x_panel">
        <h2>Buscar árticulos</h2>
        <form id="form-buscar" method="get">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="input-group">
                         <select class="form-control" id="id_campo_categoria" name="campo_categoria">
                             <option value="">-------</option>
                             {% for categoria in categorias %}
                                <option value="{{ categoria.id }}">{{ categoria.descripcion }}</option>
                             {% endfor %}
                         </select>
                        </div>
                    </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="input-group">
                    <input type="text" name="texto_buscar" class="form-control" placeholder="Buscar por...">
                    <span class="input-group-btn">
                        <input class="btn btn-default" value="Aceptar" type="submit">
                    </span>
                    </div>
                </div>
        </form>
    </div>
  </div>
{% endblock %}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Lista de Árticulos <small>Lista de árticulos cargados en el sistema</small></h2>
        <ul class="navbar-right">
          <div class="table-responsive">
            {% if request.user.is_staff %}
              <a href="/articulos/alta/" class="btn btn-primary"> <i class="fa fa-plus"></i> Nuevo Árticulo </a>
            {% endif %}
              <a href="/articulos/listado/print/" class="btn btn-success"> <i class="fa fa-print"></i> Imprimir Stock </a>
          </div>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
          <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                            <th>Imagen </th>

                            <th>Nombre</th>
                            <th>Efectivo </th>
                            <th>Crédito</th>
                            <!--<th>Débito</th>-->
                            <th>Marca</th>
                            <th>Categoría</th>
                            <th>SubCategoría </th>
                            <th>Stock</th>
                            {% if request.user.is_staff %}
                                <th>Acciones </th>
                            {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for articulo in object_list %}
                        <tr class="{% if articulo.stock <= 0 %}danger {% endif %}" >
                            <td data-toggle="tooltip" title="Este árticulo se encuentra en {{ articulo.sucursal }}">
                                {% if articulo.imagen %}
                                    <img src="/media/{{ articulo.imagen }}" data-action="zoom" width="52" height="52" />
                                {% else %}
                                    <img src="/media/logos_sistema/no-imagen.jpg" data-action="zoom" width="42" height="42" />
                                {% endif %}
                            </td>


                            <td>
                                {{ articulo.nombre }}
                            </td>
                            <td>
                                $ {{ articulo.precio_venta }}
                            </td>

                            {% if request.user.is_staff %}
                              <td onclick="cambiarPrecio('{{ articulo.precio_credito }}', '{{ articulo.id }}')">
                            {% else %}
                                <td>
                            {% endif %}
                              <a >
                                $ {{ articulo.precio_credito }}
                              {% if request.user.is_staff %}
                                <i class="fa fa-pencil"></i>
                              {% endif %}

                              </a>
                            </td>

                            <!--<td>
                                $ {{ articulo.precio_debito }}
                            </td>-->

                            <td>
                                {{ articulo.marca|quitar_none }}
                            </td>
                            <td>
                                {{ articulo.rubro.categoria|quitar_none }}
                            </td>

                            <td>

                                {{ articulo.rubro.descripcion|quitar_none }}
                            </td>

                            <td>
                                {{ articulo.stock }}
                            </td>
                            <td>
                                {% if request.user.is_staff %}
                                    <a href="/articulos/detalle/{{ articulo.pk }}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> </a>
                                    <a href="/articulos/editar/{{ articulo.pk }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                                    <a href="/articulos/eliminar/{{ articulo.pk }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
          </div>
           <!-- paginacion -->
            {% if is_paginated %}
                <nav>
                  <div class="alert alert-info">
                    Cantidad de registros : <strong> {{ page_obj.paginator.count }}</strong>
                  </div>

                  {% for num in page_obj.paginator.page_range %}
                      <ul class="pagination">
                          {% if page_obj.number == num %}
                          <li class="active"><a href="#">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                {% if 'campo_categoria' in request.get_full_path or 'texto_buscar' in request.get_full_path %}
                                    <li><a href="{{ request.get_full_path }}&page={{ num }}">{{ num }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                              {% endif %}
                            {% endif %}
                        </ul>
                    {% endfor %}
                </nav>
            {% endif %}
            <!-- paginacion 1155-->
      </div>
      <!-- Small modal cambio de precio credito -->
      <div class="modal fade id_precio_credito_form" id="cambiarPrecioModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Cambiar precio crédito</h4>
                          <!--<div class="alert alert-danger" id="" role="alert"></div>-->
                          <form>
                            <input type="number" class="form-control" id="precio_credito_cambiar_form" />
                            <input type="hidden" class="form-control" id="id_articulo_modificar" />
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                          <button type="button" class="btn btn-primary" onclick="guardarPrecio()">Guardar</button>
                      </div>
                  </div>
              </div>
          </div>
       <!-- /modals -->
    </div>
</div>
{% endblock %}

{% block js %}
 <!-- zoom js -->
 <script src="{% static 'zoom.js-master/js/zoom.js' %}"></script>

 <!-- funciones especiales -->
 <script>
    // --------------- se abre el modal para cambiar precios -----//
    function cambiarPrecio(precio_credito, id){
      $('#cambiarPrecioModal').modal('show');
      let precio_formato = precio_credito.replace(',', '.')
      $('#precio_credito_cambiar_form').val(precio_formato);
      $('#id_articulo_modificar').val(id);
    }
    //----- metodo para guardar el nuevo precio ------ //
    function guardarPrecio(){
      if ($('#precio_credito_cambiar_form').val()){
        $.ajax({
            url: '/articulos/ajax/precio/credito/actualizar/',
            type: 'post',
            data: {
                id: $('#id_articulo_modificar').val(),
                precio_credito: $('#precio_credito_cambiar_form').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data){
              new PNotify({
                   title: 'Sistema',
                   text: 'El precio se modifico con éxito',
                   type: 'success'
               });
               setInterval(function(){
                 location.reload();
               }, 1500);
            }
        });
      }else{
        new PNotify({
             title: 'Sistema',
             text: 'No puede dejar el precio vacio',
             type: 'danger'
         });
      }
    }
    // --------- para filtrar las categorias --------------
    // ----------------------------------------------------
    $('#id_campo_categoria').change(function(){
        $('#form-buscar').submit();
    });
    // --------- Mantiene el filtro en caso de que exista --------------
    {% if  request.GET.campo_categoria %}
        $('#id_campo_categoria').val('{{request.GET.campo_categoria}}')
    {% endif %}
 </script>
{% endblock %}
