{% extends 'form_base.html' %}

{% block css %}
{% endblock %}

{% block content %}
     <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
          <a href="/articulos/listado/"><div class="icon"><i class="fa fa-shopping-cart"></i></div>
          <div class="count">Árticulos</div>
          <h3>Carga y listar árticulos</h3></a>
        </div>
      </div>

     <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
          <a href="/proveedores/alta/"><div class="icon"><i class="fa fa-male"></i></div>
          <div class="count">Proveedores</div>
          <h3>Carga y listar proveedores</h3></a>
        </div>
     </div>

    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
          <a href="/compras/alta/"><div class="icon"><i class="fa fa-money"></i></div>
          <div class="count">Compras</div>
          <h3>Cargar y listar compras</h3></a>
        </div>
    </div>

    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
          <a href="/ventas/alta/"><div class="icon"><i class="fa fa-money"></i></div>
          <div class="count">Ventas</div>
          <h3>Cargar Ventas</h3></a>
        </div>
    </div>

    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
          <a href="/cajas/alta/"><div class="icon"><i class="fa fa-money"></i></div>
          <div class="count">Cajas</div>
          <h3>Ver Caja</h3></a>
        </div>
    </div>

    <!--<div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tile-stats">
          <a href="/clientes/alta/"><div class="icon"><i class="fa fa-male"></i></div>
          <div class="count">Clientes</div>
          <h3>Carga y listar clientes</h3></a>
        </div>
    </div>-->

{% endblock %}

{% block js %}
{% endblock %}
