{% extends 'footer.html' %}
{% block form_search  %}
  
  <div class="x_content">
      <div class="x_panel">
      <form method="get">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" name="texto_buscar" class="form-control" placeholder="Buscar por...">
        <span class="input-group-btn">
          <input class="btn btn-default" value="Aceptar" type="submit">
        </span>
      </div>
    </div>
  </form>
  </div>
</div>
  
{% endblock %}
{% block content %}

{% endblock %}