{% extends 'base.html' %}
{% block menu %}
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-cube"></i> Ingreso de Productos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/articulos/listado/"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Árticulos</a></li>
                        <!--<li><a href="/articulos/actualizar/precios/">Actualizar Precios</a></li>-->
                        {% if request.user.is_staff %}
                           <li><a href="/articulos/actualizar/creditos"><i class="fa fa-credit-card" aria-hidden="true"></i>Actualizar Precios</a></li>
                           <li><a href="/articulos/historial/venta/"><i class="fa fa-history" aria-hidden="true"></i>Historial Precios de ventas</a></li>
                           <li><a href="/articulos/historial/compra/"><i class="fa fa-history" aria-hidden="true"></i>Historial Precios de compras</a></li>
                            <li><a href="/proveedores/alta/"><i class="fa fa-male" aria-hidden="true"></i>Proveedores</a></li>
                            <li><a href="/compras/listado/"><i class="fa fa-money" aria-hidden="true"></i>Compra</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a><i class="fa fa-shopping-basket"></i> Salida de Productos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/ventas/alta/"><i class="fa fa-money" aria-hidden="true"></i>Ventas</a></li>
                        <li><a href="/clientes/listado/"><i class="fa fa-male" aria-hidden="true"></i>Socios</a></li>
                    </ul>
                </li>
                    <li><a><i class="fa fa-key" aria-hidden="true"></i> Gastos e Ingresos <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">

                                <li><a href="/gastos/alta/"><i class="fa fa-key" aria-hidden="true"></i>Gastos diarios</a></li>
                                <li><a href="/gastos/mes/alta/"><i class="fa fa-key" aria-hidden="true"></i>Gastos mensuales</a></li>
                                <li><a href="/ingresos/alta/"><i class="fa fa-key" aria-hidden="true"></i>Otros Ingresos</a></li>

                        </ul>
                    </li>
                <li><a><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Informes por día <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/cajas/alta/"><i class="fa fa-money" aria-hidden="true"></i>Caja del día</a></li>
                        {% if request.user.is_staff %}
                            <li><a href="/cajas/listado/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Caja del día Imprimir</a></li>
                            <li><a href="/ventas/informe/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Ventas del día</a></li>
                            <li><a href="/gastos/listado/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Gastos por día</a></li>
                            <li><a href="/ingresos/listado/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Otros Ingresos por día</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if request.user.is_staff %}
                    <li><a><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Informes por Fechas <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/cajas/informe/texto/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Cajas por fechas</a></li>
                            <li><a href="/ventas/informe/texto/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Ventas por fechas</a></li>
                            <li><a href="/gastos/reporte/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Gastos por fechas</a></li>
                            <li><a href="/ingresos/reporte/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Otros Ingresos por fechas</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-line-chart" aria-hidden="true"></i> Estadísticas <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/ventas/informe/line/"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Ingreso de efectivo por año</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-users"></i> Administración <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/"><i class="fa fa-user" aria-hidden="true"></i>Administración General</a></li>
                            <li><a href="/perfiles/alta"><i class="fa fa-user" aria-hidden="true"></i>Crear Usuario</a></li>
                            <li><a href="/perfiles/alta/sucursal"><i class="fa fa-user" aria-hidden="true"></i>Crear Perfil</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
