{% extends 'footer.html' %}
{% load staticfiles %}
{% block form_search  %}
  <form method="get">
  <div class="title_right">
    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" id="id_texto_buscar" name="texto_buscar" class="form-control" placeholder="Buscar por...">
        <span class="input-group-btn">
          <input class="btn btn-default" value="Aceptar" type="submit">
        </span>
      </div>
    </div>
  </div>
  </form>

{% endblock %}
{% block content %}

{% endblock %}